{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> {{ legend }} </legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.material.label(class="form-control-label") }}
                    {% if form.material.errors %}
                        {{ form.material(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.material.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}    
                        </div>
                    {% else %}
                        {{ form.material(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.color.label(class="form-control-label") }}
                    {% if form.color.errors %}
                        {{ form.color(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.color.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}    
                        </div>
                    {% else %}
                        {{ form.color(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}    
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div>
                        {{ form.photo.label(class="form-control-file-label") }}
                    </div>
                    {{ form.photo(class="form-control-file") }}
                    {% if form.photo.errors %}
                        {% for error in form.photo.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info mt-2") }}
            </div>
        </form>
    </div>
{% endblock content %}