{% extends 'layout.html' %}
{% block content %}
    <form method="POST", action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-field">
            {{ form.level.label(class="form-control-label") }} (Current Priority: {{ current_p }}) 
            {{ form.level(class="form-control form-control") }}
            <i class="fas fa-caret-down"></i>
            {% if form.level.errors %}
            <ul class="errors">
                {% for error in form.level.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info mt-2") }}
        </div>       
    </fieldset>
</form>
    <div class="col-lg-4">
        <!-- Card -->
        <div class="mb-3">
          <div class="pt-4">
  
            <h5 class="mb-3">Payment</h5>
  
            <ul class="list-group list-group-flush"> 
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Priority Price
                <span>₺{{ price }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>The total amount of</strong>
                </div>
                <span><strong>₺{{ price }}</strong></span>
              </li>
            </ul>
  
            <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Confirm Order</button>
  
          </div>
        </div>
    </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirm Order?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure that you wanna confirm the order?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{{ url_for('update_p', priority=new_p) }}", method='POST'>
                            <input class="btn btn-danger" type=submit value="Confirm"/>
                        </form>
                      </div>
                  </div>
                </div>
            </div>
{% endblock content %}